@font-face { font-family: Nasalization; src: url('FONTS/nasalization/nasalization-rg.ttf') format('truetype'); }


body h1, h2 th{
  font-family: Nasalization;
  text-align: center;
  color: #655765 ;
}

body p{
	font-family: "Verdana";
	font-size: 20px;
	text-align: center;
	color: #655765 ;
}

.Nasalization{
  font-family: Nasalization;
}