main{
	padding-left: 5%;
	padding-right: 5%;
}

div.image-wrapper {
	text-align: center;
	border: 0px;
	overflow: hidden;
	padding-bottom: 10px;
}

/* Allows 2x2 of 2x4 image sizing */
/* image container */
div.image {
	width: 49%;
	min-width: 350px;
	display: inline-block;
	border: 0px;
}
/* image propertes */
div.image img {
	max-height: 500px;
	max-width: 95%;
	/* object-fit: contain; */
	object-fit: cover;
}

/* Zoom effect for core images */
.zoom img{
  transition: transform .4s;
  margin: 0 auto;
}
.zoom img:hover{
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05); 
}