div.wrapper {
	text-align: center;
	border: 0px;
	overflow: hidden;
}

/* image container */
div.image {
	width: 49%;
	min-width: 350px;
	display: inline-block;
	border: 0px;
	text-align: center;
}

/* image propertes */
div.image img {
	max-height: 500px;
	max-width: 95%;
	object-fit: contain;
}